footer{
    display: flex;
    justify-content: space-between;
    background-color: #201a1a;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100vw;
}

.footer-github-container, .footer-linkedin-container, .footer-instagram-container, .footer-slash-container{
    background-color: #4e4e4e;
    transition: 0.5s ease-in;
}

.footer-github-container img, .footer-linkedin-container img, .footer-instagram-container img, .footer-slash-container img{
    width: 60px;
    height: 100%;
    transition: 0.3s ease-in;
}

.footer-github-container:hover{
    background-color: #6e5494;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.footer-linkedin-container:hover{
    background-color: #0077B5;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.footer-instagram-container:hover{
    background-color: #FD1D1D;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.Social-Media-Links{
    display: flex;
    margin: left;
    width: 20vw;
    height: min-content;
    justify-content: space-around;
}

.GitHub-Source-Code{
    padding-top: 10px;
    margin-right: 40px;
    color: orange;
}

.GitHub-Source-Code:visited{
    color: darkorange;
}

.icon-link{
    cursor: pointer;
}

@media screen and (max-width: 530px) {

    .footer-github-container img, .footer-linkedin-container img, .footer-instagram-container img, .footer-slash-container img{
        width: 48px;
    }

    .GitHub-Source-Code{
        margin-right: 30px;
    }
}

@media screen and (max-width: 470px) {

    .footer-github-container img, .footer-linkedin-container img, .footer-instagram-container img, .footer-slash-container img{
        width: 36px;
    }

    .GitHub-Source-Code{
        margin-right: 20px;
    }
}

@media screen and (max-width: 410px) {

    .footer-github-container img, .footer-linkedin-container img, .footer-instagram-container img, .footer-slash-container img{
        width: 30px;
    }

    .GitHub-Source-Code{
        margin-right: 10px;
        font-size: small;
    }
}