*{
    margin: 0;
}
html{
    background-color: rgb(40, 35, 35);
    overflow-x: hidden;
}

.Page-Container{
    height: 500px;
}

.Title{
    color: hwb(0 91% 9%);
    margin-left: 5%;
}

header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: -1%;
    height: 10vh;
    background-image: linear-gradient(to left, #3f3b3b, black);
}

h4, h3{
    padding-top: 20px;
    padding-bottom: 10px;
}

.Link-Holder{
    width: 40vw;
    display: flex;
    justify-content:space-between;
    margin-left: 30%;
}

.Header-Links{
    color: hwb(0 86% 14%);
    cursor: pointer;
}

.Header-Links:hover{
    color: hwb(260 34% 0%);
}

.Header-Links:visited{
    color: hwb(255 0% 0%);;
}

.background-image{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    height: 40vh;
    object-fit:repeat;
}

.Main-Body{
    display: flex;
    justify-content: center;
    align-items:center;
}

.ProfilePic{
    align-self: flex-end;
    display: block;
    width: auto;
    height: 90%;
    margin-left: 10%;
    margin-bottom: 0;
}

.Body-Title{
    margin-left: auto;
    width: 1000px;
    min-width: 650px;
}

.Main-Text, .Main-Sentence{
    color: white;
}

.Main-Secondary-Text{
    color: gray;
}

.Main-Text, .Main-Secondary-Text{
    font-size: 60px;
}

.Main-Body{
    background-image: url("./images/Dark-Background.png");
    background-repeat: repeat;
    background-size:cover;
    width: 100vw;
    height: 80vh;
}

.My-Advertizing{
    color: white;
    width: 100%;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.About-heading-1, .About-p-1{
    color: white;
}

.About-heading-1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.About-p-1{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.highlightedBtn{
    display: flex;
    justify-content: center;
    width: 20%;
    color: white;
    background-color: purple;
    cursor: pointer;
    text-align: center;
    transition: ease-in 0.3s;
}

.unhighlightedBtn{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 20%;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.About-Container{
    display: flex;
    flex-wrap: wrap;
}

.About-Me{
    width: 40%;
    background-color: rgb(28, 25, 25);
}

.Experience-container{
    background-color: #3f3b3b;
    width: 60%;
    transition: height 1s ease-in-out;
}

.JavaScriptProjects-Section-Header{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.JavaScriptProjects-Section-Subheader{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.Section-Button-container{
    display: flex;
    justify-content: center;
}

.Experience-progress-container{
    margin-top: 40px;
    height: 420px;
}

.Card-Tray{
    display: flex;
    justify-content: space-evenly;
    background-color: #201a1a;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    justify-content: center;
    background-color: #464040;
    margin-bottom: 2%;
    margin: 2%;
}

.card-preview{
    margin-top: 20px;
    width: 90%;
    object-fit:cover;
}

.card-details{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-title{
    color: white;
    width: 90%;
}

.card-description{
    color: white;
    width: 90%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.card-buttons{
    background-color: gray;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
}

.card-buttons:hover{
    background-color: rgb(161, 31, 161);
    transition: ease-in 0.2s;
}

.card-button{
    background-color: gray;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-button:hover{
    background-color: rgb(161, 31, 161);
    transition: ease-in 0.2s;
}

.card-button-text{
    color: white;
    margin: auto;
}

.card-button-github{
    object-fit: scale-down;
}



.resume-preview{
    object-fit: scale-down;
    width: 100px;
    height: 160px;
}

.contact-h1, .contact-h2{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 3%;
}

.contact-h1{
    font-size: 40px;
}

.contact-h2{
    font-size: 30px;
    margin-bottom: 5%;
}

.contact-holder{
    display: flex;
    justify-content: space-around;
}

.contact-icon{
    max-width: 48px;
    margin: auto;
    max-height: 48px;
}

.phone, .personal-email, .school-email{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.personal-email-address, .school-email-address, .phone-number{
    width: 100%;
    text-align: center;
}

.personal-email-address, .school-email-address, .phone-number{
    color: orange;
}

.personal-email-address:visited, .school-email-address:visited, .phone-number:visited{
    color: darkorange;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #201a1a;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Social-Media-Links{
    display: flex;
    margin: auto;
    width: 40vw;
    justify-content: space-around;
}

.GitHub-Source-Code{
    padding-top: 10px;
    margin-right: 40px;
    color: orange;
}

.GitHub-Source-Code:visited{
    color: darkorange;
}

.icon-link{
    cursor: pointer;
}